/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('./fonts.css');

/* Your custom styles can go here */
* {
    box-sizing: border-box;
    font-family: faYas;
}
body {
    color: #0f172a;
}
.dark {
    color: #e2e8f0;
}
.yas {
    font-family: faYas;
}

.arial {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
  
